.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;

  max-width: 736px;
}

.imagesSection {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imagesListSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.coffee a {
  position: absolute;
  right: 15px;
  top: 15px;
}

.coffee a img {
  width: 70px;
  height: 70px;
  border-radius: 6px;

  transition: filter 0.1s, scale 0.2s;

  animation: pulse 2s linear 15s 2;
}

.coffee a img:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0 15px;
    font-size: 0.875rem;
  }

  .wrapper input {
    font-size: 0.875rem;
  }

  .coffee a {
    right: 10px;
    top: 10px;
  }
  .coffee a img {
    width: 45px;
    height: 45px;
    border-radius: 4px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
